[submodule "src/common"]
	path = src/common
	url = git@github.com:Yinbai/common.git
[submodule "src/team"]
	path = src/team
	url = git@github.com:Yinbai/aov-team.git
[submodule "src/admin"]
	path = src/admin
	url = git@github.com:Yinbai/admin.git
